@page
@model BlazorWasmRegex.Server.Pages.ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Hata</h1>
<h2 class="text-danger">İşlem gerçekleştirilirken bir hata meydana geldi</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
